@model FoodHub.ViewModels.CartEntry
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AddToHead{
    <link href="~/Content/cart.css" rel="stylesheet" type="text/css" />
}
<div class="customcard" style="display:flex; padding-top:40px;">
    <div class="container" style="justify-content:center;align-self:center;">
        <div class="heading">
            <h1>
                <span class="shopper">s</span>hopping Cart
            </h1>
        </div>

        <div class="table">

            <div class="layout-inline row th">
                <div class="col col-pro">Product</div>
                <div class="col col-price align-center ">
                    Price
                </div>
                <div class="col col-qty align-center">QTY</div>
                <div class="col">GST</div>
                <div class="col">Total</div>
            </div>
            @if (Model.CARTITEMLIST != null)
            {
                for (var Q = 0; Q <= Model.CARTITEMLIST.Count() - 1; Q++)
                {
                    if (Q % 2 == 0)
                    {
                        <div class="layout-inline row">

                            <div class="col col-pro layout-inline">
                                @*<img src="" alt="kitten" />*@
                                <img src="@Model.CARTITEMLIST[Q].IMG_FILE" id="img">
                                <p>@Model.CARTITEMLIST[Q].ITEM_NM</p>
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].CART_ID)
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].ITEM_CD)
                            </div>
                            <div class="col col-price col-numeric align-center ">
                                <p>₹ @Model.CARTITEMLIST[Q].PRICE</p>
                            </div>

                            <div class="col col-qty layout-inline">
                                <a href="#" class="qty qty-minus">-</a>
                                <input type="numeric" value=@Model.CARTITEMLIST[Q].QNTY />
                                <a href="#" class="qty qty-plus">+</a>
                            </div>

                            <div class="col col-vat col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].GSTAMT</p>
                            </div>
                            <div class="col col-total col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].TOTALPRICE</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="layout-inline row row-bg2">

                            <div class="col col-pro layout-inline">
                                @*<img src="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg" alt="kitten" />*@
                                <img src="@Model.CARTITEMLIST[Q].IMG_FILE" id="img">
                                <p>@Model.CARTITEMLIST[Q].ITEM_NM</p>
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].CART_ID)
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].ITEM_CD)
                            </div>

                            <div class="col col-price col-numeric align-center ">
                                <p>₹ @Model.CARTITEMLIST[Q].PRICE</p>
                            </div>

                            <div class="col col-qty  layout-inline">
                                <a href="#" class="qty qty-minus ">-</a>
                                <input type="numeric" value=@Model.CARTITEMLIST[Q].QNTY />
                                <a href="#" class="qty qty-plus">+</a>
                            </div>

                            <div class="col col-vat col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].GSTAMT</p>
                            </div>
                            <div class="col col-total col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].TOTALPRICE</p>
                            </div>

                        </div>
                    }
                }
            }
            <div class="tf">
                <div class="row layout-inline">
                    <div class="col">
                        <p>Total</p>
                    </div>
                    <div class="col"><p>@ViewBag.total</p></div>
                </div>
                <div class="row layout-inline">
                    <div class="col">
                        <p>GST</p>
                    </div>
                    <div class="col"><p>@ViewBag.totalgst</p></div>
                </div>
                <div class="row layout-inline">
                    <div class="col">
                        <p>Total Amount</p>
                    </div>
                    <div class="col"><p>@ViewBag.totalamt</p></div>
                </div>
            </div>
        </div>

        <a href="#" class="btn btn-update">Checkout</a>

    </div>
</div>
