@model FoodHub.ViewModels.CartEntry
@{
    ViewBag.Title = "Cart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section AddToHead{
    <link href="~/Content/cart.css" rel="stylesheet" type="text/css" />
}
<script>
    function QntyUpdate(index, btnid) {
        debugger;
        var itcd = $("#ITEM_CD_" + index).val();

        $.ajax({
            type: "POST",
            url: '@Url.Action("UpdateQnty", "Home")',
            data: {"ITCD": itcd, "BTNID": btnid },
            datatype: JSON,
            success: function (data) {
                if (data != "0") {
                    $("#QNTY_" + index).val(data);
                    if (btnid == "LESS" && data == "1") {
                        document.getElementById("minus_" + index).disabled = true;
                    }
                    else if (btnid == "ADD" && data == "10") {
                        document.getElementById("plus_" + index).disabled = true;
                    }
                    else {
                        document.getElementById("minus_" + index).disabled = false;
                        document.getElementById("plus_" + index).disabled = false;
                    }
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function CartRemove(index) {
        var itcd = $("#ITEM_CD_" + index).val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("RemoveCart", "Home")',
            data: { "ITCD": itcd},
            datatype: JSON,
            success: function (data) {
                if (data == "1") {
                    location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
    function PlaceOrder() {
        var cartid = $("#CART_ID").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("OrderPlace", "Home")',
            data: { "CARTID": cartid},
            success: function (data) {
                if (data == "1") {
                    location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }
</script>
<div class="customcard" style="display:flex; padding-top:40px;">
    <div class="container" style="justify-content:center;align-self:center;">
        <div class="heading">
            <h1>
                <span class="shopper">s</span>hopping Cart
            </h1>
        </div>

        <div class="table">

            <div class="layout-inline row th">
                <div class="col col-pro">Product</div>
                <div class="col col-price align-center ">
                    Price
                </div>
                <div class="col col-qty align-center">QTY</div>
                <div class="col">GST</div>
                <div class="col">Total</div>
            </div>
            @if (Model.CARTITEMLIST != null)
            {
                for (var Q = 0; Q <= Model.CARTITEMLIST.Count() - 1; Q++)
                {
                    if (Q % 2 == 0)
                    {
                        <div class="layout-inline row">

                            <div class="col col-pro layout-inline">
                                @*<img src="" alt="kitten" />*@
                                <img src="@Model.CARTITEMLIST[Q].IMG_FILE" id="img">
                                <p>@Model.CARTITEMLIST[Q].ITEM_NM</p>
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].CART_ID)
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].ITEM_CD, new { id = "ITEM_CD_" + Q })
                            </div>
                            <div class="col col-price col-numeric align-center ">
                                <p>₹ @Model.CARTITEMLIST[Q].PRICE</p>
                            </div>

                            <div class="col col-qty layout-inline">
                                <a onclick="QntyUpdate(@Q,'LESS')" style="cursor:pointer;" id="minus_@Q" class="qty qty-minus">-</a>
                                <input type="numeric" readonly="readonly" value=@Model.CARTITEMLIST[Q].QNTY id="QNTY_@Q" />
                                <a onclick="QntyUpdate(@Q,'ADD')" style="cursor:pointer;" id="plus_@Q" class="qty qty-plus">+</a>
                            </div>

                            <div class="col col-vat col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].GSTAMT</p>
                            </div>
                            <div class="col col-total col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].TOTALPRICE</p>
                                <button class="btn-sm btn-danger" style="float:right;" title="Remove" onclick="CartRemove(@Q)"><i class="fa fa-trash"></i></button>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="layout-inline row row-bg2">

                            <div class="col col-pro layout-inline">
                                @*<img src="http://lovemeow.com/wp-content/uploads/2012/05/kitten81.jpg" alt="kitten" />*@
                                <img src="@Model.CARTITEMLIST[Q].IMG_FILE" id="img">
                                <p>@Model.CARTITEMLIST[Q].ITEM_NM</p>
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].CART_ID)
                                @Html.HiddenFor(a => a.CARTITEMLIST[Q].ITEM_CD, new { id = "ITEM_CD_" + Q })
                            </div>

                            <div class="col col-price col-numeric align-center ">
                                <p>₹ @Model.CARTITEMLIST[Q].PRICE</p>
                            </div>

                            <div class="col col-qty  layout-inline">
                                <a onclick="QntyUpdate(@Q,'LESS')" style="cursor:pointer;" id="minus_@Q" class="qty qty-minus">-</a>
                                <input type="numeric" readonly="readonly" value=@Model.CARTITEMLIST[Q].QNTY id="QNTY_@Q" />
                                <a onclick="QntyUpdate(@Q,'ADD')" style="cursor:pointer;" id="plus_@Q" class="qty qty-plus">+</a>
                            </div>

                            <div class="col col-vat col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].GSTAMT</p>
                            </div>
                            <div class="col col-total col-numeric">
                                <p>₹ @Model.CARTITEMLIST[Q].TOTALPRICE</p>
                                <button class="btn-sm btn-danger" style="float:right;" title="Remove" onclick="CartRemove(@Q)"><i class="fa fa-trash"></i></button>
                            </div>

                        </div>
                    }
                }
            }
            <div class="tf">
                <div class="row layout-inline">
                    <div class="col">
                        <p>Total</p>
                    </div>
                    <div class="col"><p>@ViewBag.total</p></div>
                </div>
                <div class="row layout-inline">
                    <div class="col">
                        <p>GST</p>
                    </div>
                    <div class="col"><p>@ViewBag.totalgst</p></div>
                </div>
                <div class="row layout-inline">
                    <div class="col">
                        <p>Total Amount</p>
                    </div>
                    <div class="col"><p>@ViewBag.totalamt</p></div>
                </div>
            </div>
        </div>
        @Html.HiddenFor(a => a.CART_ID, new { id = "CART_ID" })
        <a class="btn btn-update" onclick="PlaceOrder()">Checkout</a>

    </div>
</div>
