@model FoodHub.ViewModels.ItemEntry
@{

    ViewBag.Title = "single_Item";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    function AddToCart(itcd) {

        $.ajax({
            type: "POST",
            url: '@Url.Action("AddToCart", "Home")',
            data: { "itemcd": itcd },
            datatype: JSON,
            success: function (data) {
                if (data == "Success") {
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    }

</script>



<div class="container" style="padding-top:40px;">
    <div class="row">
        <div class="col-md-6 package-leftpart">
            <img src=@Model.ITEM.IMG alt="">
        </div>
        <div class="col-md-6">
            <div class="package-rightpart">
                <div class="package-title">
                    <h3>@Model.ITEM.ITEM_NM</h3>
                    <p>@Model.ITEM.ITEM_DESC</p>
                </div>
                <div class="package-price row">
                    <div class="col-md-3 col-sm-3 price-pd">
                        <h2 class="price-bold">₹ @Model.ITEM.PRICE </h2>
                    </div>
                    <div class="col-md-5 col-sm-5">
                        <a onclick="AddToCart(@Model.ITEM.ITEM_CD)" style="cursor:pointer;" class="btn btn-common"><i class="icon-cart"></i> Buy Now</a>     @*ekta notification lagbe*@   
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<section>                                   @* Egulo dynamic khobe *@
    <div class="container">
        <div class="row">
            <div class="featured-carousel owl-carousel">
                <div class="item">
                    <div class="figure">
                        <img src="assets/img/featured/1.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Best Pizza</h2>
                                <h3 class="price">$60</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="figure">
                        <img src="img/featured/2.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Vegetarian Dishes </h2>
                                <h3 class="price">$80</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="figure">
                        <img src="img/featured/3.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Cocktail List</h2>
                                <h3 class="price">$40</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="figure">
                        <img src="img/featured/4.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Coffee Day</h2>
                                <h3 class="price">$50</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="figure">
                        <img src="img/featured/5.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Grilled Chicken</h2>
                                <h3 class="price">$22</h3>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="figure">
                        <img src="img/featured/6.jpg" alt="">
                        <div class="overlay">
                            <div class="content">
                                <h2>Special Veg</h2>
                                <h3 class="price">$90</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="~/Js/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $.ajax({
            type: "POST",
            url:'@Url.Action("Single_Item", "HomeController")',
            datatype: JSON,
            success: function (data) {



            },
            error: function (error) {
                console.log(error);
            }

        });
</script>
