@model FoodHub.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section AddToHead{
    <link href="~/Content/style.css" rel="stylesheet" type="text/css" />
}


<script>
    function Signin(btnid) {
        if (btnid == "LOGIN") {
            $("#form1").attr('action', '/Login/Signup');
            $("#form1").submit();
        }
        else {
            $("#form1").attr('action', '/Login/Register');
            $("#form1").submit();
        }
    }
</script>

@using (Html.BeginForm("Signup", "Login", FormMethod.Post, new { id = "form1", enctype = "multipart/form-data" }))
{
    <div class="login-wrap">
        <div class="login-html">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">Login</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Registration</label>

            <div class="login-form">
                <div class="sign-in-htm">
                    <div class="group">
                        @Html.LabelFor(m => m.USER_NAME, new { @class = "label" })
                        @Html.TextBoxFor(m => m.USER_NAME, new { id = "USER_NAME", @class = "form-control input", maxlength = 20, @placeholder = "Username" })
                    </div>
                    <div class="group">
                        @Html.LabelFor(m => m.PASSWORD, new { @class = "label" })
                        @Html.PasswordFor(m => m.PASSWORD, new { id = "PASSWORD", @class = "form-control input", maxlength = 32 })
                    </div>
                    <div class="group">
                        <input id="check" type="checkbox" class="check" checked>
                        <label for="check"><span class="icon"></span> Keep me Signed in</label>
                    </div>
                    <div class="group">
                        <input type="button" class="button" value="Login" onclick="Signin('LOGIN')">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <a href="#forgot">Forgot Password?</a>
                    </div>
                </div>
                <div class="sign-up-htm">
                    <div class="group">
                        @Html.LabelFor(m => m.USER_DETAILS.USER_NAME, new { @class = "label" })
                        @Html.TextBoxFor(m => m.USER_DETAILS.USER_NAME, new { id = "USER_NAME", @class = "form-control input", @maxlength = 20, @placeholder = "Username" })
                    </div>

                    <div class="group">
                        @Html.LabelFor(m => m.USER_DETAILS.EMAIL, new { @class = "label" })
                        @Html.TextBoxFor(m => m.USER_DETAILS.EMAIL, new { id = "EMAIL", @class = "form-control input", @placeholder = "Email" })
                    </div>

                    <div class="group">
                        @Html.LabelFor(m => m.USER_DETAILS.PASSWORD, new { @class = "label" })
                        @Html.PasswordFor(m => m.USER_DETAILS.PASSWORD, new { id = "PASSWORD", @class = "form-control input", @maxlength = 32 })
                    </div>

                    <div class="group">
                        @Html.LabelFor(m => m.USER_DETAILS.PASSWORD, new { @class = "label" })
                        @Html.PasswordFor(m => m.USER_DETAILS.PASSWORD, new { id = "PASSWORD", @class = "form-control input", @maxlength = 32 })
                        <label for="pass" class="label">Repeat Password</label>
                        <input id="pass" type="password" class="input" data-type="password">
                    </div>
                    <div class="group">
                        <label for="user" class="label">DOB</label>
                        <input type="text" name="startDate" value="" id="datepicker" class="form-control" data-dateformat="dd/mm/yy" placeholder="Date">
                        @*@Html.TextBoxFor(m => m.USER_DETAILS.DOB, new { id = "datepicker", @class = "form-control input ", @dateformat = "dd/mm/yy" })*@
                    </div>
                    <div class="group">
                        <label for="user" class="label">Contact_no</label>
                        @Html.TextBoxFor(m => m.USER_DETAILS.CONTACT_NO, new { id = "CONTACT_NO", @class = "form-control input", maxlength = 20, @placeholder = "Contact_no" })
                    </div>
                    <div class="group">
                        <label for="user" class="label">Address</label>
                        @Html.TextBoxFor(m => m.USER_DETAILS.ADDRESS, new { id = "ADDRESS", @class = "form-control input", maxlength = 20, @placeholder = "Address" })
                    </div>
                    <div class="group">
                        <label for="user" class="label">City</label>
                        <select id="dbcity" class="form-control">
                            <option value="-1">Select City</option>
                        </select>
               </div>
                    <div class="group">
                        <label for="user" class="label">Pin</label>
                        @Html.TextBoxFor(m => m.USER_DETAILS.PIN, new { id = "PIN", @class = "form-control input", maxlength = 20, @placeholder = "Pin" })
                    </div>
                    <div class="group">
                        <label for="user" class="label">Select State</label>
                       <select id="dbstate" class="form-control">
                           <option value="-1">Select State</option>
                       </select>
                    </div>
                    <div class="group">
                        <label for="user" class="label">User_type</label>
                        <select id="dbtype" class="form-control" />
                        <option value="-1">Select User Type</option>
                        <option value="Admin">Admin</option>
                        <option value="Customer">Customer</option>
                    </div>

                    <div class="group">
                        <label for="user" class="label">Gender</label>
                        <input type="radio" name="Gender" value="M" />M
                        <input type="radio" name="Gender" value="F" />F
                    </div>
                    <div class="group">
                        <input type="submit" class="button" value="Register Now">
                    </div>
                    <div class="hr"></div>
                    <div class="foot-lnk">
                        <label for="tab-1">Already Member?</label>
                    </div>
                    <script type="text/javascript">
                        $(document).ready(function () {
                            BindStatelist();
                        });
                        function BindStatelist() {
             
                                $.ajax({
                                    type: "POST",
                                    url: '@Url.Action("GetState", "LoginController")',
                                    contentType: "application/json;charset=utf-8",
                                    async: false,
                                    catch: false,
                                    dataType: "json",
                                    success: function (data) {
                                        $.each(data, function (index, value) {
                                            $("#dbstate").append('<option value="' + value.STATE_ID +'"> +value.STATE_NAME+</option>')
                                        }); 

                                    },
                                    error: function (error) {
                                        console.log(error);
                                    }
                                });
                        }
                        $(document).on('change', '#dbstate', function () {
                            var STATE_ID = $(this).val();
                            $.ajax({
                                type: "POST",
                                url: '@Url.Action("GetCity", "LoginController")',
                                data: JSON.stringify{(_STATE_ID: STATE_ID)},
                            contentType: "application/json;charset=utf-8",
                            async: false,
                             catch: false,
                            dataType: "json",
                            success: function(data) {
                                $("#dbstate").empty();
                                $.each(data, function (index, value) {
                                    $("#dbstate").append('<option value="' + value.CITY_ID +'">+value.CITY_NAME+</option>')
                                });
                        },
                        error: function(error) {
                            console.log(error);
                        }
                            })

                        });                    
                    </script>
                </div>
            </div>
        </div>
    </div>
}