@model FoodHub.ViewModels.ItemEntry
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<script type="text/javascript">
    $(document).ready(function () {
        $("#AddData").hide();
    });
    function ShowAddDiv() {
        debugger;
        $("#AllData").hide();
        $("#AddData").show();
        $("#Btnsave").show();
        $("#Btnupdate").hide();
        $("#ITEM_CD").val("");
        $("#ITEM_NM").val("");
        $("#ITEM_DESC").val("");
        $("#IMG").val("");
        $("#PRICE").val("");
        $("#STATUS").val("");
        $("#CATE_CD").val("");
        $("#ITEM_TYPE").val("");
    }
    function ShowEditDiv() {
        debugger;
        $("#AddData").hide();
        $("#AllData").show();
        $("#Btndel").prop('disables', true);
        $("#Btnedit").prop('disables', false);
    }
    function ShowDelDiv() {
        debugger;
        $("#AddData").hide();
        $("#AllData").show();
        $("#Btndel").prop('disables', true);
        $("#Btnedit").prop('disables', false);
    }
    $(document).on('click', '#Btnsave', function () {
        if ($("#ITEM_CD").val() == "") {
            alert("Enter Item Code !!");
            return false;
        }
        if ($("#ITEM_NM").val() == "") {
            alert("Enter Item Name!");
            return false;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Save", "Admin_Category")',
            data: $('form').serialize(),
            datatype: JSON,
            success: function (data) {
                if (data == "Success") {
                    alert("Save Successfull");
                    location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $(document).on('click', '#Btnedit', function () {
        debugger;
        var Cide = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Url.Action("GetCategory", "Admin_Category")',
            data: { "CateCode": Cide },
            datatype: JSON,
            success: function (data) {
                //$("#AddData").attr("class", "");
                //$("#AddData").attr("class", "tab-pane fade in active");
                $("#CATE_CD").val(data.CATE_CD);
                $("#CATE_NM").val(data.CATE_NM);
                $("#CATE_DESC").val(data.CATE_DESC);
                $("#Btnsave").hide();
                $("#Btnupdate").show();
                $("#AddData").show();
            },
            error: function () {
                alert("Error!!");
            }
        });
    });
    $(document).on('click', '#Btnupdate', function () {
        if ($("#CATE_NM").val() == "") {
            alert("Enter Category Name !!");
            return false;
        }
        if ($("#CATE_DESC").val() == "") {
            alert("Enter Category Description!");
            return false;
        }

        $.ajax({
            type: "POST",
            url: '@Url.Action("Update", "Admin_Category")',
            data: $('form').serialize(),
            datatype: JSON,
            success: function (data) {
                if (data == "Success") {
                    alert("Update Successfull");
                    location.reload();
                }
                else {
                    alert(data);
                }
            },
            error: function (error) {
                console.log(error);
            }
        });
    });
    $(document).on('click', '#Btndel', function () {
        var Ide = $(this).attr("dataid");
        $.ajax({
            type: "POST",
            url: '@Url.Action("DeleteUser", "Admin_Category")',
            data: { "CateCode": Ide },
            datatype: JSON,
            success: function (data) {
                if (data == "Success") {
                    alert("Record Delete Successfull");
                    window.location.reload();
                }
            },
            error: function () {
                alert("Error!!");
            }
        });
    });
</script>
@using (Html.BeginForm("Index", "Admin_Item", FormMethod.Post))
{
    <div class="form-horizontal" style="padding-left:5px;padding-right:5px;margin-top: -20px;">
        <div id="AllData">
            @Html.Partial("_Admin_Item_All")
        </div>
        <div id="AddData" style="display:none;">
            <div class="col-md-4">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Code:</label>
                    @Html.TextBoxFor(m => m.ITEM.ITEM_CD, new { id = "ITEM_CD", @class = "form-control input", @placeholder = "Code", @readonly = "readonly", tabindex = "-1" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Name:</label>
                    @Html.TextBoxFor(m => m.ITEM.ITEM_NM, new { id = "ITEM_NM", @class = "form-control input", @placeholder = "Name", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Description:</label>
                    @Html.TextBoxFor(m => m.ITEM.ITEM_DESC, new { id = "ITEM_DESC", @class = "form-control input", @placeholder = "Description", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Image:</label>
                    @Html.TextBoxFor(m => m.ITEM.IMG, new { id = "IMG", @class = "form-control input", @placeholder = "Image", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Price:</label>
                    @Html.TextBoxFor(m => m.ITEM.PRICE, new { id = "PRICE", @class = "form-control input", @placeholder = "Price", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Status:</label>
                    @Html.TextBoxFor(m => m.ITEM.STATUS, new { id = "STATUS", @class = "form-control input", @placeholder = "Status", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Category:</label>
                    @Html.TextBoxFor(m => m.ITEM.CATE_CD, new { id = "CATE_CD", @class = "form-control input", @placeholder = "Category", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <label class="h5 mb-2 text-gray-800">Item Type:</label>
                    @Html.TextBoxFor(m => m.ITEM.ITEM_TYPE, new { id = "ITEM_TYPE", @class = "form-control input", @placeholder = "Item Type", autocomplete = "off" })
                </div>
            </div>
            <div class="col-md-8">
                <a href="#" id="Btnsave" class="btn btn-success btn-icon-split" title="SAVE">
                    <span class="icon text-white-50">
                      
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Save</span>
                </a>
                <a href="#" id="Btnupdate" class="btn btn-success btn-icon-split" style="display:none" title="UPDATE">
                    <span class="icon text-white-50">
                        <i class="fas fa-check"></i>
                    </span>
                    <span class="text">Update</span>
                </a>
            </div>
        </div>
    </div>
}