@model FoodHub.ViewModels.ItemEntry

<!-- Page Section Start -->


        <div class="col-md-12">
            <div class="row">
                @if (Model.LUNCHLIST != null)
                {
                    foreach (var Q in Model.LUNCHLIST)
                    {
                        <div class="col-md-6 col-sm-12 col-xs-12">
                            <div class="item">
                                <div class="img">
                                    <img src="@Q.IMG_FILE" id="img" width="110px" height="110px" style="max-height:100%; max-width:100%; vertical-align:middle;cursor:pointer" onclick="imgpreview(this.id);">
                                </div>
                                <div class="details">
                                    <h3><a href="single-item.html">@Q.ITEM_NM</a></h3>
                                    <p>@Q.ITEM_DESC</p>
                                    <a onclick="AddToCart(@Q.ITEM_CD)" style="cursor:pointer;" class="add-cart">Add To Cart <i class="icon-cart"></i></a>
                                </div>
                                <div class="price">
                                    <span>Rs. @Q.PRICE</span>
                                </div>
                            </div>
                        </div>
                    }
                }



            </div>
        </div>
   
<!-- Page Section End -->